<div class="container content-size mb-4">
    <div class="row text-center">
        <div class="col">
            Turno: {{nextOne}}
        </div>
    </div>
</div>

<div class="container board-size">
    <div class="row">
        <div class="col border">
            <app-square [value]="squares[0]" [numberSquare]="0" (clickSquare)="handleClick($event)"></app-square>
        </div>
        <div class="col border">
            <app-square [value]="squares[1]" [numberSquare]="1" (clickSquare)="handleClick($event)"></app-square>
        </div>
        <div class="col border">
            <app-square [value]="squares[2]" [numberSquare]="2" (clickSquare)="handleClick($event)"></app-square>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <app-square [value]="squares[3]" [numberSquare]="3" (clickSquare)="handleClick($event)"></app-square>
        </div>
        <div class="col border">
            <app-square [value]="squares[4]" [numberSquare]="4" (clickSquare)="handleClick($event)"></app-square>
        </div>
        <div class="col border">
            <app-square [value]="squares[5]" [numberSquare]="5" (clickSquare)="handleClick($event)"></app-square>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <app-square [value]="squares[6]" [numberSquare]="6" (clickSquare)="handleClick($event)"></app-square>
        </div>
        <div class="col border">
            <app-square [value]="squares[7]" [numberSquare]="7" (clickSquare)="handleClick($event)"></app-square>
        </div>
        <div class="col border">
            <app-square [value]="squares[8]" [numberSquare]="8" (clickSquare)="handleClick($event)"></app-square>
        </div>
    </div>
</div>

<div class="container content-size">
    <div class="row text-center">
        <div class="col">
            <button *ngIf="reset" type="button" class="btn btn-danger" (click)="onReset()"> Reset </button>
        </div>
    </div>
    <div class="row text-center"> 
        <div class="col">
            <p class="h3"> {{winner}} </p>
        </div>
    </div>

</div>
